<p id="notice"><%= notice %></p>

<h1>やりたいこと</h1>

<%= search_form_for @search do |f| %>
  <%= f.label :title_cont, "検索ワード" %>
  <%= f.search_field :title_cont %>

  <span class="actions"><%= f.submit "search" %></span>
<div align="right"><%= link_to '新規作成', new_yari_path %></div>
<% end %>


<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :title,[:title,'tt'],"タイトル") %></th>

      <th><%= sort_link(@search, :term,[:term,'tt'],"作成日") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yaris.each do |yari| %>
      <tr class ="table-success">
        <td><%=link_to yari.title ,yari %></td>

        <td><%= yari.term %></td>

        <td><%= link_to 'Edit', edit_yari_path(yari)%></td>
	
        <td>
	<%= link_to 'Destroy', yari,method: :delete, data: { confirm: 'Are you sure?' } %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

