<%= form_with(model: yaru, local: true) do |form| %>
  <% if yaru.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yaru.errors.count, "error") %> prohibited this yaru from being saved:</h2>

      <ul>
      <% yaru.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :dline %>
    <%= form.date_select :dline %>
  </div>

  <div class="field">
    <%= form.label :create %>
    <%= form.date_select :create %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
